/* #fb04fa */
.audi-bar{
    position: relative;
    margin-bottom: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 7px 10px;
    border-radius: 5px;
    background-color: #ededed;
}
.back-color-light{
    background-color: rgb(251 4 251 / 18%)
}
.back-color-dark{
    background-color: #263238;
}

.cursor{
    cursor: pointer;
}
.play-controls{
    display: flex;
    justify-content: center;
    margin-bottom: 10px;
}
.loop-container{
    position: absolute;
    right: 17px;
    bottom: 0;
}
.file-name-container{
    width: 64%;
    bottom: 2px;
    font-size: 11px;
    text-align: center;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    max-width: 400px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    margin: 0 auto;
 }


 .marquee-container {
    width: 100%;
    overflow: hidden;
    white-space: nowrap;
}

.marquee-content {
    display: inline-block;
    animation: marquee-scroll 15s linear infinite;
}
.audio-widget{
    margin: 20px;
}

@keyframes marquee-scroll {
    from {
        transform: translateX(100%);
    }
    to {
        transform: translateX(-100%);
    }
}