.marquee-content {
    display: inline-block;
    animation: marquee-scroll 15s linear infinite;
    position: absolute;
}

@keyframes marquee-scroll {
    from {
        transform: translateX(100%);
    }
    to {
        transform: translateX(-100%);
    }
}