@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
    .sidebar-height {
      height: calc(100vh - 130px);
    }
}

#app-header {
    -webkit-app-region: drag;
    -webkit-user-select: none;
    user-select: none;
}
  