@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
    .sidebar-height {
      height: calc(100vh - 150px);
    }
    .w-200{
      width: 200px;
    }
    .h-89{
      height: 89px;
    }
}

#app-header {
    -webkit-app-region: drag;
    -webkit-user-select: none;
    user-select: none;
}
  
body {
  font-family: 'Roboto', sans-serif;
}
